@import url("https://fonts.cdnfonts.com/css/product-sans");

:focus {
  outline: none !important;
  box-shadow: none !important;
}
* {
  font-family: "Product Sans", sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}
:root {
  --muted: #4f485a;
  --primary: #6d28d9;
  --border-shadow: rgba(18, 32, 35, 0.14);
}

body {
  margin: 0;
  background: #fbfbfb;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  color: #434343;
}

.sidebar {
  width: 250px;
  height: 100vh;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  border-right: 1px solid #12202324;
}
.logo {
  height: 32px;
}

.sidebar-item,
.bottom-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 32px;
  border-radius: 16px;
  max-width: 180px;
  width: 100%;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  box-sizing: border-box;
}
.sidebar-item {
  margin-bottom: 8px;
}

.sidebar-item .icon,
.bottom-item .icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.nav-label {
  font-size: 12px;
  text-transform: capitalize;
  color: var(--muted);
  font-weight: 400;
}

.sidebar-item.active {
  background: #ffffff;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.sidebar-item.active .nav-label,
.bottom-item.active .nav-label {
  color: var(--primary);
  font-weight: 700;
}

.bottom-nav {
  position: fixed;
  bottom: -12px;
  left: 0;
  width: 100%;
  padding: 12px 0;
  justify-content: space-around;
  background: #fff;
  border-top: 1px solid var(--border-shadow);
  gap: 8px;
  z-index: 100;
}

.bottom-item {
  flex: 1 1 0%;
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-align: center;
  font-size: 12px;
  color: var(--muted);
  text-decoration: none;
}

.bottom-item .icon {
  width: 18px;
  height: 18px;
}

.bottom-item.active .nav-label {
  color: var(--primary);
  font-weight: 700;
}

.notification {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 10;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
}

.create-popup {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media (min-width: 768px) {
  .create-popup {
    align-items: center;
  }
  .notification {
    max-width: 400px;
  }
}

.close-btn {
  position: absolute;
  top: 32px;
  right: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.close-btn img {
  height: 18px;
}

.popup-inner {
  width: 100%;
  max-width: 500px;
  background: #fff;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  gap: 8px;
  z-index: 30;
  flex-direction: column;
  margin-bottom: 5rem;
}

@media (min-width: 768px) {
  .popup-inner {
    flex-direction: row;
    padding: 2.5rem;
    border-radius: 24px;
    gap: 1.5rem;
    margin-bottom: 0;
  }
}

.popup-btn {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 4px;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  border: none;
}

@media (min-width: 768px) {
  .popup-btn {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0px 0px 4px 0px #0000001a;
    border: 1px solid rgba(18, 32, 35, 0.14);
  }
}

.wishlist-icon {
  width: 18px;
  aspect-ratio: 1 / 1;
}
@media (min-width: 768px) {
  .wishlist-icon {
    width: 28px;
  }
}

.event-icon {
  width: 14px;
  aspect-ratio: 1 / 1;
}
@media (min-width: 768px) {
  .event-icon {
    width: 24px;
  }
}

.popup-label {
  color: #4f485a;
  font-weight: 700;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .popup-label {
    font-size: 1.125rem;
  }
}

.popup-divider {
  display: block;
  width: 100%;
  height: 0;
  border-top: 0.5px solid rgba(18, 32, 35, 0.14);
  margin: 0.5rem 0;
}
@media (min-width: 768px) {
  .popup-divider {
    display: none;
  }
}

.icon-lg {
  width: 28px;
  height: 28px;
}
.close-btn {
  position: absolute;
  top: 32px;
  right: 40px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.nav-label.active-text {
  color: var(--primary);
  font-weight: 700;
}

@media (min-width: 768px) {
  .create-popup {
    align-items: center;
  }
}
