.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 80px;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: #fff;
  padding: 20px;
  width: 400px;
  max-width: 90%;
  border-radius: 10px;
  position: relative;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

#wishlist-modal {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  padding: 2rem 1rem;
}

.wishlist-close-btn {
  top: 1.25rem;
  right: 1.25rem;
  font-size: 2rem;
  cursor: pointer;
}

.wishlist-content {
  max-width: 800px;
  width: 100%;
  max-height: 70dvh;
}

.wishlist-image {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.wishlist-body {
  width: 50%;
}

.wishlist-header {
  border-color: #f2f2f2;
}

.wishlist-avatar {
  width: 2rem;
  height: 2rem;
}

.wishlist-description {
  font-size: 0.875rem;
  color: #434343;
}

.wishlist-progress-container {
  border-color: #d7d7d7;
  padding: 0.1rem;
}

.wishlist-progress-bar {
  height: 0.75rem;
  width: 0%;
  background-color: #009fe2 !important;
}

.wishlist-progress-text {
  font-size: 0.875rem;
  color: rgba(67, 67, 67, 0.7);
}

.wishlist-progress-text span {
  color: #151515;
}

.wishlist-comments {
  overflow-y: auto;
}

.wishlist-actions {
  border-left: 0;
  border-color: #12202314;
}

.wishlist-action-group {
  gap: 10px;
}

.wishlist-action-btn {
  gap: 4px;
}

.wishlist-icon-sm {
  width: 20px;
  height: 20px;
}

.wishlist-icon-lg {
  width: 24px;
  height: 24px;
}

.wishlist-count-sm {
  font-size: 10px;
}

.wishlist-count-md {
  font-size: 12px;
}

.wishlist-rsvp-btn {
  background-color: #6d29d9;
  border: 1px solid #6d29d9;
  padding: 8px 16px;
  border-radius: 0.375rem;
  gap: 2px;
  font-size: 10px;
}

.wishlist-rsvp-text-md {
  font-size: 14px;
}

.wishlist-rsvp-text-sm {
  font-size: 10px;
}

.wishlist-rsvp-icon-sm {
  width: 14px;
  height: 14px;
}

.wishlist-rsvp-icon-lg {
  width: 18px;
  height: 18px;
}

.wishlist-comment-box {
  padding: 10px;
}

.wishlist-current-avatar {
  width: 24px;
  height: 24px;
}

.wishlist-input-container {
  border-color: rgba(18, 32, 35, 0.08);
}

.wishlist-input {
  font-size: 0.875rem;
  padding-top: 4px;
  padding-bottom: 4px;
  height: 100%;
  outline: none;
}

.wishlist-send-btn {
  background-color: #6d29d9;
  aspect-ratio: 1;
  height: 100%;
}

.wishlist-send-icon {
  width: 12px;
  height: 12px;
}
@media (max-height: 700px) {
  .wishlist-content {
    flex-direction: column !important;
    max-height: 75dvh !important;
    overflow-y: auto;
  }
}
@media (max-width: 768px) {
  #wishlist-modal {
    padding: 1rem !important;
  }

  .wishlist-content {
    flex-direction: column !important;
    max-height: 75dvh !important;
  }
  .wishlist-actions {
    border: 0 !important;
  }
  .wishlist-image {
    display: block !important;
    width: 100% !important;
    max-height: 200px !important;
  }

  .wishlist-body {
    width: 100% !important;
  }

  .wishlist-avatar {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }

  #modal-wishlist-name {
    font-size: 0.875rem !important;
  }

  .wishlist-description {
    font-size: 0.75rem !important;
  }

  .wishlist-progress-bar {
    height: 0.375rem !important;
  }

  .comment-avatar {
    width: 2rem !important;
    height: 2rem !important;
  }

  .comment-author,
  .comment-text {
    font-size: 0.75rem !important;
  }

  #modal-comments-section {
    max-height: 200px;
  }
}

@media (max-width: 576px) {
  .wishlist-image {
    max-height: 300px !important;
  }
}

.comment-avatar {
  width: 2.5rem;
  height: 2.5rem;
}

.comment-author {
  font-size: 0.875rem;
  color: #151515;
}

.comment-time {
  color: rgba(21, 21, 21, 0.6);
  font-size: 0.75rem;
  margin-left: 0.125rem;
}

.comment-text {
  color: #4a5557;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.comment-like {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}
